<div
  [style.background-color]="getBackgroundColor()"

  class="supplier-details-container"
  (dblclick)="supplier.id !== undefined && deleteSupplier(supplier.id)"
>
  <fieldset *ngIf="!hide" class="supplier-details">
    <legend>Supplier: {{ supplier.id }}</legend>
    <!-- <h2>Supplier Details</h2> -->
    <ul class="supplier-details-list">
      <!-- <li><strong>ID:</strong> {{ supplier.id }}</li> -->
      <li>
        <strong>Code:</strong>
        <span [style.font-weight]="getCodeFontWeight()">
          {{ supplier.code }}</span
        >
      </li>
      <li><strong>Label:</strong>{{ supplier.label }}</li>
    </ul>
  </fieldset>
  <div class="clear-button-container">
    <button class="clear-button" (click)="setHidden()">Hide</button>
  </div>
</div>
